
@font-face {
    font-family: "Mulish";
    src: url("../fonts/Mulish-Regular.ttf");
}

.button {
    -fx-background-color: #e0e0e0; /* A light grey background */
    -fx-background-radius: 5px;   /* Round the background corners */
    -fx-border-radius: 5px;      /* Round the border corners */
    -fx-border-color: #bababa;     /* A slightly darker border */
    -fx-border-width: 1px;         /* A thin border */
}

.button:hover {
    -fx-background-color: #d3d3d3;
}

.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}

#defaultGridPane {
    -fx-background-image: url("../images/pattern.png");
    -fx-background-repeat: repeat;
    -fx-background-position: top left;
}

.root {
    -fx-font-family: 'Mulish';
    -fx-font-size: 13;
}