
@font-face {
    font-family: "Mulish";
    src: url("../fonts/Mulish-Regular.ttf");
}

@font-face {
    font-family: "Old London";
    src: url("../fonts/OldLondon.ttf");
}

.button {
    -fx-background-color: #e0e0e0; /* A light grey background */
    -fx-background-radius: 7.5;   /* Round the background corners */
    -fx-border-radius: 7.5;      /* Round the border corners */
    -fx-border-color: #bababa;     /* A slightly darker border */
    -fx-border-width: 1;         /* A thin border */
    -fx-background-insets: 0;   /* Prevents the background from overshooting */
}

.button:hover {
    -fx-background-color: #d3d3d3;
}

.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}

.tab-header-area {
    visibility: hidden;
    -fx-max-height: 0;
}

#defaultGridPane {
    -fx-background-image: url("../images/pattern.png");
    -fx-background-repeat: repeat;
    -fx-background-position: top left;
}

.root {
    -fx-font-family: 'Mulish';
    -fx-font-size: 13;
}

.old-london-button {
    -fx-font-family: 'Old London';
    -fx-font-size: 35;
}