@font-face {
    src: url('../fonts/FrakturNo2.ttf');
}

.main-pane {
    -fx-background-image: url("/images/miscellaneous/background-16-10.png");
    -fx-background-size: cover;
}

.dark-overlay-rectangle {
    -fx-fill: rgba(0, 0, 0, 0.5);
}

.popup-pane {
    -fx-background-color: #ede4bc;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 8;
    -fx-border-color: #c5a641;
    -fx-background-insets: 30;
    -fx-border-insets: 28;
    -fx-alignment: center;
    -fx-effect: dropShadow(one-pass-box, rgba(0,0,0,0.3), 7.0, 0.0, 0.0, 7.0);
}

.player-pane {
    -fx-background-color: #F7F5E1;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropShadow(one-pass-box, rgba(0,0,0,0.3), 5.0, 0.0, 0.0, 5.0);
}

.text-pane {
    -fx-background-color: #F7F5E1;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropShadow(one-pass-box, rgba(0,0,0,0.3), 15.0, 0.0, 0.0, 0.0);
}

.lobby-text {
    -fx-font-family: 'Fraktur No2';
    -fx-font-size: 30;
}

.button-start {
    -fx-background-color: #ede4bc;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 4;
    -fx-background-insets: 2;
    -fx-border-color: #c5a641;
    -fx-font-family: 'Fraktur No2';
    -fx-font-size: 20px;
    -fx-alignment: center center;
    -fx-effect: dropShadow(one-pass-box, rgba(0,0,0,0.3), 5.0, 0.0, 0.0, 5.0);
}

.button-back {
    -fx-background-color: #ede4bc;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 4 4 4 4;
    -fx-border-color: #c5a641;
    -fx-alignment: center;
    -fx-background-insets: 2;
    -fx-effect: dropShadow(one-pass-box, rgba(0,0,0,0.3), 5.0, 0.0, 0.0, 5.0);
}

.button:hover {
    -fx-background-color: #e4dcb6;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}