# Ignore Idea ide files
.idea

# Ignore vscode files
.vscode/

# Ignore project-building related files
target/
dependency-reduced-pom.xml

# Ignore MacOS related files
.DS_Store

# Ignore .ser files
*.ser